import axios from 'axios';

<template>
	<div class="s7table" @scroll="onScroll">
		<div class="loader hidden"></div>
		<h1>Сводный полный отчет</h1>
		<br>
		<label for="filter">
			Фильтр
			<input id="filter" type="text" v-model="filterQuery"/>
		</label>
		<table id="s7report" class="table table-striped table-bordered table-hover table-reflow">
			<thead>
			<tr>
				<th class="tHead" @click="sort" v-for="key in fields">{{key}}</th>
			</tr>
			</thead>
			<tbody>
			<template v-if="flights.length > 0">
				<tr class="s7-table-row" v-for="flight in flights">
					<td v-for="value in flight">{{value}}</td>
				</tr>
			</template>
			<tr v-else-if="!loading">
				<td class="text-center" colspan="11">Не найдено ни одной записи.</td>
			</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				flights: [],
				fields: null,
				page: 1,
				limit: 20,
				isEnd: false,
				loading: false,
				filterQuery: '',
				filterTimerId: null,
				orderField: '',
				direction: 'asc',
				endpoint: 'http://127.0.0.1:8000/page'
			}
		},
		created() {
			this.getPage();
		},
		watch: {
			filterQuery(val) {
				this.filterQuery = val;
				clearTimeout(this.filterTimerId);
				let self = this;
				this.filterTimerId = setTimeout(function () {
					self.flights = [];
					self.page = 1;
					self.getPage();
				}, 400);
			}
		},
		methods: {
			toggleLoader() {
				if (this.loading) {
					$('.loader').removeClass('hidden');
				} else {
					$('.loader').addClass('hidden');
				}
			},
			getPage() {
				this.loading = true;
				this.toggleLoader();
				axios.post(this.endpoint,
					{
						page: this.page,
						limit: this.limit,
						filterQuery: this.filterQuery,
						orderField: this.orderField,
						direction: this.direction
					}
				).then(res => {
					let data = res.data.flights;
					if (res.data.result !== 1) {
						if (data === 0) {
							this.flights = data.flights;
						} else {
							this.flights = this.flights.concat(data.flights);
						}
						this.fields = data.fields;
					}
					console.log(this.flights.length);
					this.loading = false;
					this.toggleLoader();
				}, err => {
					console.log(err);
					this.loding = false;
					this.toggleLoader();
				});
			},
			onScroll(event) {
				let container = event.target;
				let isBottom = container.scrollHeight - container.scrollTop - container.clientHeight <= 10;
				if (isBottom && !this.loading) {
					this.page++;
					this.getPage()
				}
			}
			,
			sort(e) {
				const SORTED = 'sorted';
				const SORT_UP = 'sortUp';
				const SORT_DOWN = 'sortDown';
				let target = $(e.target);
				if (target.hasClass(SORTED)) {
					if (target.hasClass(SORT_UP)) {
						target.addClass(SORT_DOWN).removeClass(SORT_UP);
					} else {
						target.addClass(SORT_UP).removeClass(SORT_DOWN);
					}
				} else {
					let children = target.parent().children();
					for (let i = 0; i < children.length; ++i) {
						$(children[i]).removeClass(SORTED).removeClass(SORT_UP).removeClass(SORT_DOWN);
					}
					target.addClass(SORTED).addClass(SORT_DOWN);
				}
				this.orderField = this.indexOf(this.fields, target.text());
				this.direction = target.hasClass(SORT_UP) ? 'asc' : 'desc';
				this.flights = [];
				this.getPage();
			},
			indexOf(obj, value) {
				for (let key in obj) {
					if (obj.hasOwnProperty(key) && obj[key] === value) {
						return key;
					}
				}
				return null;
			}
		}
	}
</script>
