.s7table {
    height: 100vh;
    align-items: center;
    overflow-y: scroll;
    overflow-x: visible;
}

body {
    padding: 0;
    margin: 0;
}

.sorted {
    background-color: limegreen;
}

.sortUp::before {
    content: '\25b2';
}

.sortDown::before {
    content: '\25bc';
}

.tHead {
    cursor: pointer;
    font-weight: bold;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    bottom: calc(50% - 60px);
    right: calc(50% - 60px);
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.s7-table-row tr:hover {
    background-color: #0000fe;
}